// Colors
// ------------------------------------------------------------

// Primaries
$blue-0: #7D88AB;
$blue: #4D5C8C;
$blue-1: #394366;

// Accents
$green-0: #7DABA7;
$green: #4D8C86;
$green-1: #396662;

$pink-0: #ECB4A9;
$pink: #E59989;
$pink-1: #A77064;

// Background
$bg: #EAECEF;

// DELETE AFTER REPLACING
$primary: #6bf;
$primary-shade-1: #20273C;
$primary-shade-2: #172030;

$accent: #C43461;

// Grays
$white: #EEEEF1;
$black: #07080A;

$gray-9: #1E222F;
$gray-7: #2A3041;
$gray-5: #373D54;

$black-1: #14161C;
$black-2: #21242F;
$black-3: #2E3241;
$black-4: #3B4054;


// Typography
// ------------------------------------------------------------

// Font family
$poppins: 'Poppins', 'Helvetica Neue', Arial, serif;
$quicksand: 'Quicksand', 'Helvetica Neue', Arial, serif;

// Base size
$font-size: 14px;
$base-line: 28px;

// Body
$body-sm: $font-size;
$body-md: $font-size + 2;
$body-lg: $font-size + 4;

$body-base-sm: $base-line;
$body-base-md: $base-line + 2;
$body-base-lg: $base-line + 4;

// Headlines
$h1-size: 32px;
$h1-base: 40px;

$h1-sm: $h1-size;
$h1-md: $h1-size + 4;
$h1-lg: $h1-size + 10;

$h1-base-sm: $h1-base;
$h1-base-md: $h1-base + 4;
$h1-base-lg: $h1-base + 10;

$h2-size: 22px;
$h2-base: 30px;

$h2-sm: $h2-size;
$h2-md: $h2-size + 2;
$h2-lg: $h2-size + 4;

$h2-base-sm: $h2-base;
$h2-base-md: $h2-base + 2;
$h2-base-lg: $h2-base + 4;

$h3-size: 16px;
$h3-base: 24px;

$h3-sm: $h3-size;
$h3-md: $h3-size + 2;
$h3-lg: $h3-size + 4;

$h3-base-sm: $h3-base;
$h3-base-md: $h3-base + 2;
$h3-base-lg: $h3-base + 4;
