.actual-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: $gray-7;

  transition: all 0.2s ease-in-out;
  opacity: 0;

  &.is-on {
    display: flex;
    opacity: 1;
  }
}

.actual-nav__links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    list-style: none;

    a {
      display: block;
      padding: 5px 0;
      font-weight: 500;
      text-decoration: none;
      color: $white;
      transition: all 0.2s ease-in-out;

      &:focus,
      &:hover {
        color: $green;
      }

      &.actual-nav__btn {
        color: $green;

        &:focus,
        &:hover {
          color: darken($green, 15%);
        }
      }
    }
  }
}

@include media(">=md") {
  .actual-nav__links li a {
    font-size: 22px;
    line-height: 32px;
    padding: 8px 0;

    &.actual-nav__btn {
      display: none;
    }
  }
}

@include media(">=lg") {
  .actual-nav__links li a {
    font-size: 32px;
    line-height: 42px;
  }
}
