.btn {
  font: {
    weight: 500;
  }
  text-decoration: none;
  transition: all 0.15s ease-in;
}

.btn--solid {
  display: flex;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.4);
  background-color: $green;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($green, 15%);
  }
}

.btn--text {
  font-weight: 700;
  color: $green;

  &:hover,
  &:focus {
    color: darken($green, 15%);
  }
}
