.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(3n+2) {
    .card__col--text {
     background-color: $green;
    }
  }

  &:nth-child(3n+3) {
    .card__col--text {
     background-color: $pink;
    }
  }

  &:nth-child(3n+4) {
    .card__col--text {
     background-color: $blue;
    }
  }
}

.card__col {
  flex-grow: 1;
  min-height: 230px;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }
}

.card__col--text {
  padding: 40px;
  background-color: $blue;
  color: $white;

}

.card__body {
  margin-bottom: 15px;
}

.card__btn {
  color: $white;
}

.card__col--image {
  background: {
    // Fallback
    color: $gray-5;
    size: cover;
    repeat: no-repeat;
    position: center;
    // Images are inserted in the individual pages style sheet
    // image: url(/assets/img/card-pic.jpg);
  }
}

@include media(">=md"){
  .card {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .card__col {
    flex-basis: 50%;
    min-height: 320px;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }
  }

  .card__container {
    min-height: 420px;
  }

  .card__container--text {
    padding: 40px;
  }
}
