.cookie,
.cookie__wrapper,
.cookie__wrapper > div {
  display: flex;
  flex-direction: column;
}

.cookie {
  z-index: 1000;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px 0;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 -18px 35px rgba(50,50,93,.1), 0 -8px 15px rgba(0,0,0,.07);

  // Animating
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;

  &.hidden {
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
  }
}

.cookie__wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}

.cookie__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 5px;
}

.cookie__blurb {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.cookie__btn {
  align-self: center;

  span {
    margin-left: 5px;
  }
}

@include media(">=md") {
  .cookie {
    text-align: left;
  }

  .cookie__wrapper {
    flex-direction: row;
  }

  .cookie__content {
    padding-right: 45px;
  }

  .cookie__blurb {
    margin-bottom: 0;
  }

  .cookie__actions {
    justify-content: center;
  }
}
