.logo {
  display: flex;
}

.logo img {
  width: auto;
  height: 30px;
}

@include media(">=md") {
  .logo img {
    height: 40px;
  }
}

@include media(">=lg") {
  .logo img {
    height: 50px;
  }
}
