.social-links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    flex-basis: 50%;
    text-align: center;
    padding: 40px 0;
    font-size: 20px;
    text-decoration: none;
    color: #aaa;

    &:nth-child(2) {
      background-color: #f7f7f7;
    }
  }
}
