html,
body {
  height: 100%;

  &.is-on {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
}

.block {
  padding: 50px 0;

  @include media(">=md") {
    padding: 80px 0;
  }

  @include media(">=lg") {
    padding: 110px 0;
  }
}
