@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Quicksand:300,400,500,700);

// Setting global fonts
body,
h2,
h3 {
  font-family: $poppins;
}

body {
  font: {
    size: $font-size;
    weight: 300;
  }
  line-height: $base-line;
}

// Headlines
h1 {
  font: {
    family: $quicksand;
    size: $h1-size;
    weight: 700;
  }
  line-height: $h1-base;
  letter-spacing: -0.5px;
  margin: 0 0 10px 0;
}

h2,
h3 {
  font-weight: 600;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-base;
  margin: 0 0 10px 0;
}

h3 {
  font-size: $h3-size;
  line-height: $h3-base;
  margin: 0 0 5px 0;
}

// Paragraphs
p {
  margin: 0 0 5px 0;

  &.bigger {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }
}

@include media(">=md") {
  h1 {
    font-size: $h1-md;
    line-height: $h1-base-md;
    margin: 0 0 20px 0;

    &.bigger {
      font-size: 52px;
      line-height: 60px;
    }
  }

  h2 {
    font-size: $h2-md;
    line-height: $h2-base-md;
  }

  h3 {
    font-size: $h3-md;
    line-height: $h3-base-md;
  }
}

@include media(">=lg") {
  h1 {
    &.bigger {
      font-size: 72px;
      line-height: 90px;
    }
  }

  p {
    &.bigger {
      font-size: 24px;
      line-height: 42px;
    }
  }
}

@include media(">=xl") {
  h1 {
    font-size: $h1-lg;
    line-height: $h1-base-lg;
    margin: 0 0 20px 0;

    &.bigger {
      font-size: 82px;
      line-height: 100px;
    }
  }

  h2 {
    font-size: $h2-lg;
    line-height: $h2-base-lg;
    margin: 0 0 15px 0;
  }

  h3 {
    font-size: $h3-lg;
    line-height: $h3-base-lg;
    margin: 0 0 10px 0;
  }

  p {
    margin: 0 0 10px 0;

    &.bigger {
      font-size: 26px;
      line-height: 44px;
    }
  }
}
