.footer {
  padding: 50px 0;
  background-color: $gray-9;
  color: $white;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  justify-content: center;
}

.footer__ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  a {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    color: $white;
  }
}

.footer__ul--details {
  margin: 35px 0;

  li {
    &:first-child {
      font-weight: 700;
    }

    &:last-child {
      margin-top: 25px;
    }
  }
}

.footer__ul--links a {
  font-weight: 700;
}

@include media(">=md") {
  .footer {
    text-align: left;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
  }

  .footer__logo {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .footer__ul--details {
    margin: 0 50px 0 0;
  }
}
