.header {
  display: flex;
  flex-direction: column;
  min-height: 80px;

  // Setting background image with overlay
  background: {
    color: $gray-9;
    image: linear-gradient(rgba($gray-9, 0.75), rgba($gray-9, 0.75)
    ), url(../img/header-billede.jpg);
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  color: $white;

  &.header--tall {
    min-height: 100%;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  // Making up for .nav offset
  padding-top: 40px;
}

.header__title {
  font-size: 36px;
  line-height: 44px;

  br {
    display: none;
  }
}

.header__blurb {
  font: {
    size: 18px;
    weight: 500;
  }
  line-height: 30px;
  margin: 5px 0 20px 0;

  br {
    display: none;
  }
}

.header__btn {
  font-size: 16px;
}

@include media(">=md"){
  .header {
    min-height: 100px;

    &.header--tall {
      height: 90%;
    }
  }

  .header__content {
    // Making up for .nav offset
    padding-top: 50px;
  }

  .header__title br {
    display: inline-block;
  }

  .header__blurb {
    margin-top: 0;

    br {
      display: inline-block;
    }
  }
}

@include media(">=lg"){
  .header {
    min-height: 120px;
  }

  .header__content {
    // Making up for .nav offset
    padding-top: 60px;
  }

  .header__blurb {
    margin-bottom: 40px;
  }
}
