.nav {
  z-index: 200;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 80px;

  transition: all 0.2s ease-in-out;
  transform: translateY(0%);

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(">=md"){
      padding: 0 30px;
    }

    @include media(">=lg"){
      padding: 0 35px;
    }

    @include media(">=lg"){
      padding: 0 40px;
    }
  }

  &.nav--midnight {
    background-color: $gray-9;
  }

  &.hidden {
    transform: translateY(-100%);
  }
}

.nav__actions {
  display: flex;
  align-items: center;

  .nav__btn {
    display: none;
  }
}

.nav__burger {
  z-index: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;

  &.is-on {
    .nav__burger-stroke {
      margin-bottom: -1.5px;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.nav__burger-stroke {
  display: block;
  width: 17px;
  height: 2px;
  margin-bottom: 4px;
  background-color: $white;
  transition: all 0.1s ease-in;

  &:last-child {
    margin-bottom: 0;
  }
}

@include media(">=md") {
  .nav {
    height: 100px;
  }

  .nav__actions .nav__btn {
    display: flex;
    margin-right: 15px;
  }
}

@include media(">=lg"){
  .nav {
    height: 120px;
  }
}
