.sub-page {
  padding: 20px 0 30px 0;
  background-color: $white;
}

.sub-page__content {
  max-width: 650px;
}

.sub-page__body {
  &:last-child {
    margin-bottom: 0;
  }
}

.sub-page__headline {
  margin-top: 20px;
}

.sub-page__featured {
  margin-top: 30px;
}

@include media(">=md"){
  .sub-page {
    padding: 40px 0 50px 0;
  }

  .sub-page__body.bigger {
    margin-bottom: 25px;
  }

  .sub-page__headline {
    margin-top: 25px;
  }

  .sub-page__featured {
    margin-top: 50px;
  }
}
