.how h2 {
  margin-bottom: 20px;
}

.how .col-md {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@include media(">=md") {
  .how .col-md {
    margin-bottom: 0;
  }

  .how p {
    margin-bottom: 0;
  }
}
