.what__first {
  margin-bottom: 50px;
}

.what .row .col-md {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:first-child {
    margin-bottom: 20px;
  }
}

.what__btn {
  align-self: flex-start;
}

.what__second {
  // Making up for the extra space the below section gets from the h2's line-height (very nitty-gritty)
  margin-bottom: 10px;
}

@include media(">=md") {
  .what__first {
    margin-bottom: 80px;
  }

  .what .row .col-md {
    &:first-child {
      margin-bottom: 0;
    }
  }

  .what__second .col-md:first-child {
    order: 1;
  }
}

@include media(">=lg") {
  .what__first {
    margin-bottom: 110px;
  }
}
