#martin-eggert .card__col--image {
  background-image: url(../img/me.jpg);
}

#karsten-leed .card__col--image {
  background-image: url(../img/kl.jpg);
}

#kundeservice .card__col--image {
  background-image: url(../img/kundeservice.jpg);
}

a {
    display: inline-block;
    text-decoration: none;
    color: $white;
  }

.contact {
  text-align: center;
}

.contact__blurb {
  margin-bottom: 50px;

  @include media(">=xl") {
    margin-bottom: 80px;
  }
}

.contact__details {
  margin: 0 0 30px 0;
  padding: 0;
  color: $white;

  li {
    display: block;
    padding: 3px 0;
    list-style: none;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $white;
  }
}

@include media(">=md") {
  .contact {
    text-align: left;
  }

  .contact__details {
    margin-bottom: 0;
  }
}
