.highlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
}

.highlight__block {
  position: relative;
  min-height: 350px;
  align-items: center;
  display: flex;
  justify-content: center;

  background: {
    // Fallback
    color: $gray-7;
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  color: $white;
  text-decoration: none;
  cursor: pointer;

  &:first-child {
    flex-basis: 50%;
    margin: 0;
    background-color: #4D8C86;
  }

  &:nth-child(2) {
    flex-basis: 50%;
    margin: 0;
  }

  &:last-child {
    margin: 15px 15px 0 15px;
    border-radius: 10px;
    background: url(../img/vores-loesninger.jpg);
    background-position: center center;
    background-size: cover;

    &::before {
      border-radius: 10px;
    }
  }

  &:focus::before,
  &:hover::before {
    opacity: 0.5;
  }
}

.highlight__block::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gray-5;

  opacity: 0;
  transition: opacity .2s ease;
}

.highlight__title {
  margin: 0;
}

.usp {
  padding-top: 30px;
  background-color: $white;
}

.usp__card {
  max-width: none;
  padding: 0 15px;

  &:first-child {
    .card__col--image {
      background-image: url(../img/baeredygtighed.jpg);
    }
  }

  &:nth-child(2) {
    .card__col--text {
      background-color: $green;
    }

    .card__col--image {
      background-image: url(../img/bagom-shs.jpg);
    }
  }
}

@include media(">=md"){
  .highlight {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlight__block {
    height: 350px;

    &:last-child {
      flex-basis: 90%;
      flex-grow: 0;
      margin-top: 50px;
    }
  }

  .usp {
    padding-top: 80px;
  }

  .usp__card {
    width: 85%;
    padding: 0;
  }
}

@include media(">=lg") {
  .usp__card {
    max-width: 90%;
  }

  .usp__card {
    width: 80%;
  }
}
