#brownie .card__col--image {
  background-image: url(../img/brownie.jpg);
}

#gulerodskage .card__col--image {
  background-image: url(../img/gulerodskage.jpg);
}

#muffin	.card__col--image {
  background-image: url(../img/muffins.jpg);
}

#squashkage .card__col--image {
  background-image: url(../img/squashkage.jpg);
}

#bananchokeladekage .card__col--image {
  background-image: url(../img/banankage.jpg);
}

#kanelkage .card__col--image {
  background-image: url(../img/kanelkage.jpg);
}

#krydderkage .card__col--image {
  background-image: url(../img/krydderkage.jpg);
}