#lys-basis-dej .card__col--image {
  background-image: url(../img/lys-basis-dej.jpg);
}

#moerk-basis-dej .card__col--image {
  background-image: url(../img/moerk-basis-dej.jpg);
}

#sød-blød-basis-dej .card__col--image {
  background-image: url(../img/soeddej.jpg);
}

#pizzadej .card__col--image {
  background-image: url(../img/pizzadej.jpg);
}

#rugbrød-med-softkerner .card__col--image {
  background-image: url(../img/softkernerugbroed.jpg);
}

#lys-basis-dej .card__col {
	height: 260px;
}

#moerk-basis-dej .card__col {
	height: 290px;
}

#sød-blød-basis-dej .card__col {
	height: 290px;
}

#rugbrød-med-softkerner .card__col {
	height: 320px;
}


@include media(">=md"){
	#lys-basis-dej .card__col {
	height: 320px;
	}

	#moerk-basis-dej .card__col {
	height: 320px;
	}

	#sød-blød-basis-dej .card__col {
	height: 320px;
	}
}