#loesning1 .card__col--image {
  background-image: url(../img/lys-basis-dej.jpg);
}

#loesning2 .card__col--image {
  background-image: url(../img/moerk-basis-dej.jpg);
}

#loesning1 .card__col {
	height: 360px;
}

#loesning2 .card__col {
	height: 450px;
}

@include media(">=md"){
	#loesning1 .card__col {
	height: 320px;
	}

	#loesning2 .card__col {
	height: 320px;
	}
}